<div class="container-fluid e2e-notes-page">
  <!-- Note menu -->
  <div class="row" style="margin-top:12px;">
    <div class="offset-8"></div>
    <div class="col-md-4">
      <button type="buton"
              *ngIf="canCreateNotebook"
              (click)="createNotebook()"
              class="btn btn-dark pull-right"
              style="margin-left:12px;"><i class="fa fa-book">&nbsp;</i>New notebook
      </button>
      <button type="button"
              (click)="createNote(selectedNotebook.id)"
              [disabled]="selectedNotebook == null"
              class="btn btn-dark pull-right"
              style="margin-left:12px;"><i class="fa fa-sticky-note">&nbsp;</i>New note
      </button>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
        <input type="text"
               [(ngModel)]="searchText"
               class="form-control pull-right"
               style="width: 100%; margin-top:12px;"
               placeholder="Search notes...">
    </div>
  </div>
  <!-- Note content -->
  <div class="row" style="margin-top: 28px;">
    <!-- Notebooks Menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <a (click)="selectAllNotes()" class="list-group-item list-group-item-action notebook">
          <i class="fa fa-book">&nbsp;</i>All
        </a>
        <!-- Notebook List -->
        <a *ngFor="let notebook of notebooks" (click)="selectNotebook(notebook)" class="list-group-item list-group-item-action notebook">
          <i class="fa fa-book"></i>&nbsp;
          <input [(ngModel)]="notebook.name" type="text" class="input-label" style="width: 80%"/>
          <a (click)="deleteNotebook(notebook)" class="pull-right text-danger">
            <i class="fa fa-remove"></i>
          </a>
        </a>
      </div>
    </div>

    <!-- Notes Panel -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <!-- Message if there are no notes -->
          <h3 *ngIf="selectedNotebook != null">{{selectedNotebook.name}}</h3>
          <h3 *ngIf="selectedNotebook == null">All notes</h3>
          <p *ngIf="this.displayedNotes.length === 0">There are no notes to display in this notebook :(</p>
        </div>
      </div>
      <div class="row">
        <!-- Note list -->
        <app-note *ngFor="let n of displayedNotes | noteTextFilter:searchText"
                  [note]="n"
                  (noteDeleted)="deleteNote($event)">
        </app-note>
      </div>
    </div>
  </div>
</div>
